---
title: Digital Publications Directory
layout: default
permalink: /directory/
---
<div id="pubs_survey">
<p>Check out what museums are publishing. Use the search and sort functions to browse the publications, see how museums present content and what digital formats they’re working with. We look forward to adding more publications and welcome peer participation.</p>
<fieldset class="survey-search">
  <form>
    <input type="text" class="search" placeholder="Search Publications...">
  </form>
</fieldset>
<p><span class="results">{{ site.data.survey.size }}</span> Results found.</p>
<table class="survey" style="width:100%">
  <thead class="table-controls">
    <tr>
      <th colspan="3">
        <a href="javascript:void(0);" class="sort" data-sort="title" data-insensitive="true">
          <i class="fa fa-sort"></i> &nbsp; Title &nbsp; &nbsp;<i class="fa fa-external-link"></i>
        </a>
      </th>
      <th colspan="2">
        <a href="javascript:void(0);" class="sort" data-sort="institution" data-insensitive="true">
          <i class="fa fa-sort"></i> &nbsp; Institution &nbsp; &nbsp;<i class="fa fa-external-link"></i>
        </a>
      </th> 
      <th>
        <a href="javascript:void(0);" class="sort" data-sort="type" data-insensitive="true">
          <i class="fa fa-sort"></i> &nbsp; Type
        </a>
      </th>
      <th>
        <a href="javascript:void(0);" class="sort" data-sort="format" data-insensitive="true">
          <i class="fa fa-sort"></i> &nbsp; Format
        </a>
      </th>
      <th>
        <a href="javascript:void(0);" class="sort" data-sort="price" data-insensitive="true">
          <i class="fa fa-sort"></i> &nbsp; Price
        </a>
      </th>
    </tr>
  </thead>
  <tbody class="list">
  {% assign sorted_data = site.data.survey | sort:"title" %}
  {% for item in sorted_data %}
  <tr>
    <td class="title" colspan="3">
    {% if item.publication_url %}
      <a href="{{item.publication_url}}">
        {{item.title}}</i>
      </a>
    {% else %}
      {{item.title}}
    {% endif %}
    </td>
    <td colspan="2" class="institution">
      <a href="{{item.institution_url}}">
        {{item.institution}}</i>
      </a>
    </td> 
    <td class="type">{{item.type}}</td>
    <td class="format">{{item.format}}</td>
    <td class="price">
      {% if item.price == "0" %}
        <span class="free"><span class="zero">{{item.price | prepend: "$"}}</span></span>
      {% elsif item.price contains "£" %}
        {{item.price }}
      {% else %}
        {{item.price | prepend: "$"}}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
