---
title: Publications
layout: default
permalink: /publications/
---
<div id="pubs_survey">
<fieldset class="survey-search">
  <form>
    <input type="text" class="search" placeholder="Search Publications...">
  </form>
</fieldset>
<table class="survey" style="width:100%">
  <thead class="table-controls">
    <tr>
      <th colspan="3">
        <a href="#" class="sort" data-sort="title" data-insensitive="true">Title</a>
      </th>
      <th colspan="2">
        <a href="#" class="sort" data-sort="institution" data-insensitive="true">Institution</a>
      </th> 
      <th>
        <a href="#" class="sort" data-sort="type" data-insensitive="true">Type</a>
      </th>
      <th>
        <a href="#" class="sort" data-sort="format" data-insensitive="true">Format</a>
      </th>
      <th>
        <a href="#" class="sort" data-sort="price" data-insensitive="true">Price</a>
      </th>
    </tr>
  </thead>
  <tbody class="list">
  {% assign sorted_data = site.data.survey | sort:"institution" %}
  {% for item in sorted_data %}
  <tr>
    <td class="title" colspan="3">
    {% if item.purchase_url %}
      <a href="{{item.purchase_url}}">{{item.title}}</a>
    {% else %}
      {{item.title}}
    {% endif %}
    </td>
    <td colspan="2" class="institution">
      <a href="{{item.publisher_url}}">{{item.institution}}</a>
    </td> 
    <td class="type">{{item.type}}</td>
    <td class="format">{{item.format}}</td>
    <td class="price">{{item.price}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>