{% if page.author %}
  {% assign author_has_info = false %}
  <div class="author-info">
  <hr>
  {% for author in site.data.authors %}
    {% if page.author == author.name %}
      <!-- Begin Author stub -->
      <h4 class="meta">About the Author</h4>
      {% if author.pic %}
        <div class="author-pic">
          <img src="{{site.baseurl}}/assets/img/authors/{{author.pic}}">
        </div>
      {% endif %}
      <div class="author-text">
        <h5 class="author-name">{{ author.name }}</h5>
        {% if author.website %}
        <a href="{{author.website['url']}}">{{ author.website["description"] }}</a>
        <br>
        {% endif %}
        {% if author.twitter %}
          <a href="https://twitter.com/{{author.twitter}}">@{{ author.twitter }}</a>
        {% endif %}
        {% if author.bio %}
          <p class="author-bio smaller">{{ author.bio }}</p>
        {% endif %}
      </div>

      <!-- End Author stub -->
      {% assign author_has_info = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  </div>
{% endif %}
