<footer class="content site-footer">
  <section class="column">
    <ul class="footer-links">
      <li>Beyond the Printed Page</li>
      <li>A project by xxxxxx, xxxxxxxx, and xxxxxxxx</li>
      <li>contact info</li>
    </ul>
  </section>
      
  <section class="column">
    <ul class="footer-links">
      <li>Partner Websites</li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </section>

  <section class="column">
    <ul class="footer-links">
      <li>Social Media Links</li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul> 
  </section>
</footer>