<footer class="content site-footer">
  <div class="footer-contributors">
    <p class="smaller">An independent project by contributors from the <a href="http://www.getty.edu/publications/">J. Paul Getty Trust</a>, the <a href="http://www.artic.edu/collections/books">Art Institute of Chicago</a>, the <a href="http://www.metmuseum.org/research/metpublications">Metropolitan Museum of Art</a> and elsewhere. Views expressed here are the authors' own. All content CC BY-NC-SA 3.0 unless otherwise noted.</p>
  </div>
  <div class="footer-social">
    <a href="https://twitter.com/pubsbliki">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>
    </a>
    <a href="mailto:galbers@getty.edu">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://github.com/gettypubs/beyond-the-printed-page">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github-alt fa-stack-1x"></i>
      </span>
    </a>

  </div>
</footer>


