<footer class="content site-footer">
  <div class="footer-contributors">
    <p>A project by contributors from the J. Paul Getty Trust, the Art Institute of Chicago, the Metropolitan Museum of Art and elsewhere.</p>
  </div>
  <div class="footer-social">
    <a href="https://twitter.com/pubsbliki">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>
    </a>
    <a href="mailto:galbers@getty.edu">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://github.com/gettypubs/beyond-the-printed-page">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github-alt fa-stack-1x"></i>
      </span>
    </a>

  </div>
</footer>


