.author-info {
  @include span-columns(12);
  //color: lighten($base-font-color, 25);
  margin-bottom: 2rem;
  margin-top: 1rem;
  
  h4 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
  }
}

.author-name {
  margin-bottom: .25rem;
  margin-top: 0;
}

.author-pic {
  @include span-columns(3);
  @include media($medium-screen-up) {
    @include span-columns(2);
  }

  img {
    border-radius: 50%;
  }
}

.author-text {
  @include span-columns(9);
  padding-left: 1em;

  @include media($medium-screen-up) {
    @include span-columns(10);
  }
}
