.footer-wrapper {
  //@include flex(1);
  background-color: #fff;
  width: 100%;
}

.site-footer {
  font-family: 'Lato';
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  width: 100%;
}

.footer-contributors {
  @include span-columns(8);

  > p {
    display: block;
    float: left;
    margin-right: 1rem;
  }
}

.footer-social {
  @include span-columns(4);
  > li {
    display: block;
    float: right;
    margin-left: 1rem;

    img {
      height: 2rem;
    }
  }
}

.home .site-footer {
  background-color: transparent;
  color: transparentize(#fff, .25);

  a {
    color: #fff;
    opacity: .75;

    &:hover {
      opacity: 1;
    }
  }
}
