.footer-wrapper {
  //@include flex(1);
  background-color: #fff;
  width: 100%;
}

.site-footer {
  font-family: 'Lato';
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  width: 100%;
}

.footer-contributors {
  @include media($medium-screen-up) {
    @include span-columns(8);
  }

  > p {
    display: block;
    float: left;
    margin-right: 1rem;
  }
}

.footer-social {
  @include media($medium-screen-up) {
    @include span-columns(4);
    @include omega;
    text-align: right;
    margin: 1.75em 0;
  }

  a {
    opacity: .75;

    &:hover {
      opacity: 1;
    }
  }

  span {
    @include media($medium-screen-up) {
      @include span-columns(1 of 3);
    }
  }

  > li {
    display: block;
    float: right;
    margin-left: 1rem;

    img {
      height: 2rem;
    }
  }

  .fa-stack {
    color: #fff;
    
    .fa-circle {
      color: transparentize($cover-background-bottom, .5);
    }
  }
}

.home .site-footer {
  background-color: transparent;

  a {
    color: #fff;
    opacity: .75;

    &:hover {
      opacity: 1;
    }
  }
}

.home .footer-contributors {
  color: transparentize(#fff, .15);
}

.home .footer-social {
  .fa-stack {
    color: transparentize($cover-background-top, .25);
    
    .fa-circle {
      color: #fff;
    }
  }
}
