.footer-wrapper {
  background-color: #fff;
  width: 100%;
}

.site-footer {
  font-family: 'Lato';
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  width: 100%;
}

.home .site-footer {
  background-color: transparent;
  color: transparentize(#fff, .25);

  a {
    color: #fff;
    opacity: .75;

    &:hover {
      opacity: 1;
    }
  }
}
