// basic page layout

$bg-image: '../img/bg/gplaypattern.png';
$cover-background-top: #6abe82; 
$cover-background-bottom: #037bba;
$cover-color: #fff;
$cover-gradient-angle: 70deg;

body {
  @include background-image(linear-gradient(
    $cover-gradient-angle, 
    $cover-background-bottom, 
    $cover-background-top)
  );

  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

.cover {
  @include flex(1); 
  background-color: transparent;
  color: #fff;
  padding-top: 1rem;
  width: 100%;
}

.cover:after {
  @include background-image(url($bg-image), repeat);
  bottom: 0;
  content: '';
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; 
}

.layout-main {
  background-color: #fff;
  opacity: 1;
}

.content { 
  @include outer-container;
  padding: 1rem;
  @include media ($medium-screen-up) { padding: 1rem 2rem; }
}

.column {
  @include media($medium-screen-up) {
    @include span-columns(4 of 12);
  }
}

.article-header {
  margin-bottom: $base-font-size * 2;
  margin-top: 0;

  @include media ($medium-screen-up) {
    margin-top: $base-font-size * 4;
  }

  @include media ($large-screen-up) {
    .article-header { margin-top: $base-font-size * 5; }
  }

  .meta, 
  .author {color: #fff; }
}

// article list
.articles li { 
  margin-bottom: $base-font-size * 2; 
  .intro { margin-bottom: $base-font-size * 3; }
}

// responsive video
.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }
}


