// basic page layout
html {
  min-height: 100%;
  position: relative;
}

body {
  @include background-image(linear-gradient(
    $cover-gradient-angle, 
    $cover-background-bottom, 
    $cover-background-top)
  );

  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

#main {
  @include media($medium-screen-up) {
    min-height: 65vh;
  }
}

.layout-main {
  background-color: #fff;
  opacity: 1;
}

.content { 
  @include outer-container;
  padding: 1rem;
  @include media ($medium-screen-up) { padding: 1rem 2rem; }

  article img,
  article iframe {
    display: block;
    margin-bottom: .5em;
    //width: 100%;
  }

}

.column {
  @include media($medium-screen-up) {
    @include span-columns(4 of 12);
  }
}

.article-header {
  margin-bottom: $base-font-size * 2;
  margin-top: 0;

  @include media ($medium-screen-up) {
    margin-top: $base-font-size * 4;
  }

  @include media ($large-screen-up) {
    .article-header { margin-top: $base-font-size * 5; }
  }

  .meta, 
  .author {color: #fff; }
}

// article list
.articles li { 
  margin-bottom: $base-font-size * 2; 
  .intro { margin-bottom: $base-font-size * 3; }
}

// archive page
.pagination {
  @include span-columns(12);
}

.previous,
.next,
.page-number {
  @include span-columns(4);
}

.previous {
  text-align: left;
}

.next {
  text-align: right;
}

.page-number {
  text-align: center;
}

span.archive-tags {
  display: block;
  font-size: $base-font-size * .9;
  letter-spacing: 1px;
  margin-top: .75rem;
}

.archive-content {
  margin-bottom: 2.5rem;
}

// responsive video
.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }
}

// survey table
.survey {
  font-size: $base-font-size * .75;
  font-family: "Lato";
}

.survey td {
  padding: .5rem .75rem .5rem 0;
}

.survey-search {
  font-family: "Lato";
  padding: 1rem 1.25rem;
  border-radius: $base-border-radius;
  line-height: 1;

  input {
    font-family: "Lato";
    margin-bottom: 0;
  }
}

.free:before {
  content: "Free";
}

.zero {
  display: none;
}


