body.home {
  min-height: 100vh;
}

.cover {
  @include flex(1); 
  background-color: transparent;
  color: #fff;
  padding-top: 1rem;
  width: 100%;

  .meta {
    color: #fff;
  }

  .site-subtitle {
    font-size: 1.5em;
    margin-top: .5em;
  }

  // a:link,
  // a:visited, {
  //   color: $cover-link-color;
  // }

  // a:hover,
  // a:active {
  //   color: $cover-link-color-hover;
  // }
}

.issue-link {
  font-family: 'Lato';
  font-weight: bold;
  letter-spacing: 2px;
  
  a:link,
  a:visited {
    color: transparentize(#fff, .15);
  }

  a:hover,
  a:active {
    color: #fff;
  }
}

.cover:after {
  @include background-image(url($bg-image), repeat);
  bottom: 0;
  content: '';
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; 
}

.current-issue {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  margin-top: 5rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
}
