<!DOCTYPE html>
<html>
{% include head.html %}
<body class="m-scene">
  <div class="cover">
    {% include nav.html %}
    <div class="content">
      <header class="article-header">
        <h1 class="title">{{page.title}}</h1>
        {% if page.subtitle %}
          <h4 class="subtitle">{{page.subtitle}}</h4>
        {% endif %}
        {% if page.author[1] %}
          <h5 class="author">By 
            {% for name in page.author %}
              {{name}}{% unless forloop.last %},{% endunless %}
              {% if forloop.last %} | {{page.date | date: "%-d %B %Y"}} {% endif %}
            {% endfor %}
          </h5>
        {% elsif page.author.display_name %}
          <h5 class="author">By {{page.author.display_name}} | {{page.date | date: "%-d %B %Y"}}</h5>
        {% elsif page.author %}
          <h5 class="author">By {{page.author}} | {{page.date | date: "%-d %B %Y"}}</h5>
        {% endif %}
      </header>
    </div>
    {% include breadcrumbs.html %}
  </div>
  <div class="layout-main scene-element">
    <div class="content" id="main">
      {{content}}
    </div>
    {% include footer.html %}
  </div>
<body>
</html>
