<!DOCTYPE html>
<html>
{% include head.html %}
<body class="m-scene">
  <div class="cover">
    {% include nav.html %}
    <div class="content">
      <header class="article-header">
        {% if page.number %}
          <h3 class="meta">Issue {{page.number}} | {{page.date}}</h3>
        {% elsif page.category %}
          {% capture issue_num %} {{ page.category | remove_first:'issue-'  }} {% endcapture %}
          <a href="{{site.baseurl}}/{{page.category}}">
            <h6 class="meta">Issue {{issue_num}}</h6>
          </a>
          <br>
        {% endif %}
        <h1 class="title">{{page.title}}</h1>
        {% if page.subtitle %}
          <h4 class="subtitle">{{page.subtitle}}</h4>
        {% endif %}
        {% if page.author %}
          <h5 class="author">By {{page.author.display_name}}</h5>
        {% endif %}
      </header>
    </div>
  </div>
  <div class="layout-main scene-element scene-element--fadeinup scene-element--fadeout">
    <div class="content">
      {{content}}
    </div>
  </div>
<body>
</html>
