---
layout: default
---
<h3>Contents</h3>
<br>
{% if site.data.issues[page.number] %}
  {% assign sorted_articles = site.data.issues[page.number].contents | sort: 'rank' %}
  <ul class="articles">
  {% for article in sorted_articles %}
    <li {% if article.rank == 00 %} class="intro" {% endif %}>
      {% if article.rank == 00 %}<h4 class="meta">Introduction</h4>{% endif %}
      <a href="{{site.baseurl}}{{article.url}}"><h4>{{article.title}}</h4></a>
      <h6>{{article.author}}</h6>
      <p>{{article.desc}}</p>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No articles exist in this issue yet.</p>
{% endif %}